<div class='container'>
	<div class= 'row'>
	  <div class= 'col-lg-12' style='float:left'>
		  <div class='well'>
	      <div class = 'article_title'>
	        <div class='col-lg-12'>
				    <strong><%= @article.title%></strong>
			    </div><hr>
			  </div>
			  <div class='col-lg-12'><%=simple_format(@article.content)%></div>
	    </div>
	  </div>
  </div>
</div>
