/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

 */
 body {
 	overflow-x: hidden;
 }
 img{
 height:auto;
 max-width:100%;
}
input
{
	width:auto;
}

.footer {
background-color: #222 ;
width: 100% ;
position: fixed;
bottom: 0px;
left: 0px;
margin: 0px 0px 0px 0px;
z-index: 5 ;
padding: 0 ;
height: 30px ;
}

.footer a {
	padding: 5px 5px 5px 5px;
	font-size: 14px;

}
 .footer h6{
	float:right;
	font-size: 14px ;
	color: white ;
	padding:5px 0 5px 5px;
	margin: 0px 0px 0px 0px;
 }

.navbar
{
  border-radius: 0px;
}

.nav
{
  border-radius: 0px;
}
 .nav li
{
text-decoration: none;
font-size: 17px;
}

.navbar-inverse
{position: relative;
	top:0;
	left:0;
	width:100%;
	z-index: 5;
  border-radius: 0px;
  margin: 0px 0px 0px 0px;
  height:52px;
}

.container{
 margin-top:10px

}
 .well
 {text-align: left;
background-color: #7b7b7b;
 margin-bottom: 10px;
 padding-top: 5px;
 padding-bottom: 5px;
 border-radius: 10px;
 word-wrap: break-word;
}
.well a
{padding :10px 10px 10px 10px;

	color: #212121;
}
.well i{
	color: #212121;
}
.article_actions

{ text-align:right;
	float:right;
	font-size:20px;


}
 .article_title
 {color: #212121;
 	 font-size:30px;
 }
 .row
 {
 	margin:0px 0px 0px 0px;
 }
 .container-fluid
 {
 	 padding:0;margin:0;
 }
div #myNavbar
{
	padding:0;margin:0;
}
.img-circle
{
	margin-left:10px !important;
	margin-right:10px !important;
	margin-bottom:0px !important;
	height:52px !important;
}


.navbar-header
{margin:0px !important;}