/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

 */
 img{
 height:auto;
 width:100%;
}

.footer {
background-color: #222 !important;
width: 100% !important;
position: fixed;
bottom: 0px;
left: 0px;
margin: 0px 0px 0px 0px;
z-index: 5 !important;
padding: 0 !important;
height: auto ;
}
.navbar-inverse
{ margin: 0px 0px 0px 0px;
}
.navbar
{
  border-radius: 0px;
}

.nav
{
  border-radius: 0px;
}


.navbar-inverse
{
  border-radius: 0px;
}
.footer a {
	color: #337ab7 !important; 
	float: left;
	padding: 5px 5px 5px 5px;
	font-size: 14px;
}
 h6{
	float:right;
	font-size: 14px !important;
	color: white !important;
	padding-right:0px;
	padding-bottom:5px;
	padding-top:5px;
	margin: 0px 0px 0px 0px;
 }

.right{
position: absolute;
top: 0px;
right: 0px;
width: 100px;
}

.nav li
{
text-decoration: none;
font-size: 17px;
}

.container table a{
font-size:15px;
}
.container th{

  font-size:25px;
}
.container td{

  font-size:15px;
}
