// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
img{
 height:auto;
 width:auto;
}
  .footer{
  overflow: hidden;
  background-color: #222;
  position: fixed ;
  bottom: 0 ;
  width: 100%;
  height :40px;
  text-align:right;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 17px;
  color:#f2f2f2;
  }

  .footer a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: left;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 17px;
  }
.right{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100px;
}