// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
img{
 height:auto;
 width:100%;
}

.footer {

background-color: #222;
bottom:0px;
left:0px;
width:100%;
position:fixed ! important;
text-align:right;
padding: 5px 10px;
font-size: 17px;
color:#f2f2f2;
}

.footer a {
float: left;
display: block;
color: #f2f2f2;
text-align: left;
padding: 5px 10px;
text-decoration: none;
font-size: 17px;

}

.right{
position: absolute;
top: 0px;
right: 0px;
width: 100px;
}

.nav li
{
text-decoration: none;
font-size: 17px;
}
.wrapper{
  min-height:100%;
  position:relative;
}