// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
img{
 height:auto;
 width:100%;
}

.footer {

background-color: #222;
width:100%;
position:fixed ;
bottom:0px;
left:0px;
text-align:right;
padding: 1px 10px;
font-size: 17px;
color:#f2f2f2;
height:30px;
z-index:10;

}

.footer a {
float: left;
display: block;
color: #f2f2f2;
text-align: left;
padding: 5px 10px;
text-decoration: none;
font-size: 17px;

}

.right{
position: absolute;
top: 0px;
right: 0px;
width: 100px;
}

.nav li
{
text-decoration: none;
font-size: 17px;
}

.overlay {
font-weight:100;
  padding: 2rem;
  width: 33%;
  height: 33%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 70%;
  display: block;
  color: green;
  margin:2rem;
  position: absolute;
  top: 0%;

background: rgba(0,0,0,0.3);
}