@import "bootstrap-sprockets";
@import "bootstrap";


@import "font-awesome-sprockets";
@import "font-awesome";

img{
 height:auto;
 width:100%;
}

.footer {

background-color: #222 !important;
width:100% !important;
position:fixed;
bottom:0px;
left:0px;
margin: 0px 0px 0px 0px;
text-align:right !important;
padding: 0 !important;
font-size: 17px !important;
color:#f2f2f2 !important;
height:auto !important;
z-index:5 !important;

}
.navbar-inverse
{ margin:0px 0px 0px 0px;
}
.navbar
{
  border-radius: 0px;
}

.nav
{
  border-radius: 0px;
}


.navbar-inverse
{
  border-radius: 0px;
}
.footer a {
float: left;
display: block;
text-align: left;
padding: 5px 5px 5px 5px;
text-decoration: none;
font-size: 17px;

}

.right{
position: absolute;
top: 0px;
right: 0px;
width: 100px;
}

.nav li
{
text-decoration: none;
font-size: 17px;
}

.container table a{
font-size:15px;
}
.container th{

  font-size:25px;
}
.container td{

  font-size:15px;
}

.link a
{

  font-size:15px;
}
