@import "bootstrap-sprockets";
@import "bootstrap";


@import "font-awesome-sprockets";
@import "font-awesome";

.overlay {
font-weight:100;
  padding: 2rem;
  width: 33%;
  height: 33%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 70%;
  display: block;
  color: black;
  margin:2rem;
  position: absolute;
  top: 0%;

background: rgba(0,0,0,0.3);
}