<!DOCTYPE html>
<html>
  <head>
    <title>OnlinePeerSystem</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body style='background-color: #DEB887; height:100%; margin-bottom:30px' >

	  <%= yield %>
	  </div>
	  <div class = 'footer' >
	    <a href='https://www.facebook.com/smartdata.enterprises.inc' target='_blank'>
	    <i class='fa fa-facebook' aria-hidden='true'></i>
	    </a>
	    <a href='https://www.twiter.com' target='_blank'>
	    <i class='fa fa-twitter' aria-hidden='true'></i>
	    </a>
	    &copy;copyright Lovepret Singh <a href='mailto:lovepreetsinghvirdi@gmail.com'><i class='fa fa-envelope' aria-hidden='true'></i></a>

  </body>
</html>
